<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>InterviewAI</title>

<link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>

	<div class="container">

	    <div class="logo">
	        🎤
	    </div>

	    <h1>InterviewAI</h1>

	    <p class="tagline">
	        Your Personal Technical Interviewer
	    </p>

	    <div class="status">
	        ● Ready to Begin
	    </div>

	    <button id="startBtn">
	        Start Interview
	    </button>

	</div>
<script th:src="@{/js/home.js}"></script>

</body>
</html>